* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.section {
  padding: 90px 0;
}

.section-title {
  max-width: 500px;
  text-align: center;
  display: block;
  font-size: 24px;
  /* +bold */
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding: 70px 0;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 100px;
}

.hero-text__title {
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  height: 40px;
  min-width: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__image img {
  display: block;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-text-list__image {
    margin-right: 15px;
  }
  .hero-text-list__item {
    margin-bottom: 20px;
  }
  .hero-text-list__text {
    font-style: 12px;
  }
}

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: right;
  background-size: auto 100%;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  text-align: left;
  line-height: 35px;
  margin-bottom: 24px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 31px;
}

.offer-text__first {
  max-width: 224px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.offer-text__second {
  max-width: 192px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.offer-text__link {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .offer-text {
    text-align: center;
    display: block;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-dialog {
  position: relative;
  margin: auto;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.slider__item img {
  margin: auto;
}

@media (max-width: 768px) {
  .card {
    margin: auto;
  }
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
  z-index: -1;
}

.card__link::after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
}

.step::after {
  content: '';
  height: 25px;
  width: 72px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  margin: auto;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .step::after {
    display: none;
  }
}

.advertising {
  background-color: #ffd200;
}

.advertising__title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .advertising__title {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .advertising__title {
    font-size: 18px;
  }
}

.guarantee {
  width: 370px;
  height: 410px;
  margin-right: 30px;
}

.guarantee__text {
  font-size: 16px;
  display: inline-block;
  margin: 27px 26px 0 26px;
}

.guarantee:first-child {
  background: #f5f5f5 url("../img/guarantees/man-notebook.png") no-repeat bottom;
}

.guarantee:nth-child(2) {
  background: #f5f5f5 url("../img/guarantees/man-instrument.png") no-repeat bottom;
}

.guarantee:last-child {
  background: #f5f5f5 url("../img/guarantees/man-wood.png") no-repeat bottom;
  margin-right: 0;
}

.guarantees-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .guarantee {
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .guarantee:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .guarantee {
    margin: 0;
    margin-bottom: 30px;
  }
  .guarantee:last-child {
    margin-bottom: 0;
  }
}

.sertificate {
  text-align: center;
}

.sertificate__image {
  width: 270px;
  height: 360px;
  border: 20px solid #f5f5f5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sertificate__image:last-child {
  margin-right: 0;
}

.sertificate__text {
  margin-top: 41px;
  display: inline-block;
  max-width: 270px;
}

.sertificates {
  padding-top: 50px;
}

.sertificates__title {
  margin: auto;
  margin-bottom: 99px;
}

.sertificates-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .sertificate {
    width: 100%;
    margin-bottom: 30px;
  }
  .sertificate__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  s {
    padding-top: 0;
  }
  s__title {
    margin-bottom: 49px;
  }
  s-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */